.main {
	margin: 40px;
}

.form-group {
	margin-bottom: 6px;
}

.form-group-optional {
	opacity: 0.8;
}

.form-control {
	color: black;
	font-size: 1.1rem;
	font-family: Courier;
}

#wf_list {
	font-size: 1.1rem;
	font-family: Courier;
	height: 96%;
	padding: 5px;
	margin: 7px;
}

#wf_list_div {
	background-color: aliceblue;
	border-radius: 4px;
}

#main_row {
	margin-top: 10px;
	margin-bottom: 15px;
}

.form-control:focus {
	color: black;
}

.form-control-trans {
	color: #003790;
	font-family: Cambria;
}

.form-control-examples {
	color: #003790;
	font-family: Cambria;
	font-size: 0.8rem;
}

.form-control-trans:focus {
	color: #003790;
	font-family: Cambria;
}

.col-form-label, .form-check-label {
	padding-right: 3px;
	color: #495057;
}

.modal-dialog {
	max-width: 60vw;
}

.label_small {
	font-size: 0.9em;
}

@keyframes blinkEmail {
  0%   { background-color: white; color: black; }
  30%  { background-color: #d13b3b; color: white; }
  50%  { background-color: #ff9f99; color: white; }
  70%  { background-color: #d13b3b; color: white; }
  100% { background-color: white; color: black; }
}

.row_annotator {
	animation: blinkEmail 2s;
	border-radius: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.wf {
	margin: 8px;
	font-size: 110%;
	font-weight: bold;
}

.wfGlossed {
	margin: 6px;
	margin-right: 8px;
	margin-left: 8px;
	font-size: 90%;
}

.gloss {
	margin: 6px;
	margin-right: 8px;
	margin-left: 8px;
	font-size: 90%;
}

.lemma {
	margin: 8px;
	font-size: 110%;
}

.gramm {
	margin: 8px;
}

.trans {
	margin: 8px;
	color: #c0c0c0;
}

td {
	vertical-align: top;
}

.analysis_table {
	margin-bottom: 30px;
	border: 1px darkgray dashed;
	border-radius: 2px;
}
